@use "src/styles/fonts";

.emergencyButtonWrapper {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.label {
    text-align: center;
    font-size: fonts.getFontSize("large");
    font-weight: fonts.getFontWeight("bold");
}
