// @use "src/kstyles/colors.scss";

.sendElementWrapper {
    flex: 1 1 0;
    align-self: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: #f3f3f3;
}

.fileIcon {
    font-size: 1.8rem;
    color: orange;
}

.fileData {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-overflow: ellipsis;
}

.name {
    flex: 1 1 0;

    font-weight: bold;
    text-overflow: ellipsis;
}

.removeBtn {
    color: #bebebe;
    font-size: 0.8rem;
    cursor: pointer;
}
