@use "src/styles/styles";

#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: ". body" / auto 1fr;
}

#wrapper > * {
    min-height: 0;
    min-width: 0;
}

#body {
    grid-area: body;
    width: 100%;
    height: 100%;
}
