@use "src/styles/colors";

$button-height: 5.5rem;
$icon-size: 2rem;
$label-size: 0.7rem;

.toggleButtonWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    height: fit-content;

    button {
        width: $button-height;
        height: $button-height;
    
        font-size: $icon-size;
        font-weight: bold;
    
        appearance: none;
        border: none;
        border-radius: 6px;
    
        background-color: transparent;
    
        transition: box-shadow 30ms ease-in, transform 30ms ease-in;
    
        &:active {
            box-shadow: none;
            transform: translateY(0px)
        }
    }

    p {
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: $label-size;
        font-weight: 600;
        text-align: center;
        user-select: none;
    }
}

.on {
    * {
        color: colors.getColor("tertiary", 60);
    }

    button {
        background-color: colors.getColor("tertiary", 90);
        box-shadow: 0 4px colors.getColor("tertiary", 60);
        transform: translateY(-4px);

        &:hover {
            background-color: colors.getColor("tertiary", 80);
            color: colors.getColor("tertiary", 50);
        }
    }
}

.off {
    * {
        color: colors.getColor("primary", 60);
    }

    button {
        background-color: colors.getColor("primary", 90);
        box-shadow: 0 8px colors.getColor("primary", 60);
        transform: translateY(-8px);

        &:hover {
            background-color: colors.getColor("primary", 80);
            color: colors.getColor("primary", 50);
        }
    }

}