@use "src/styles/styles";
@use "src/styles/colors" as colors;

.sidebar {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;

    background-color: colors.getThemeColor("primary-surface");
}
