.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;

    > div {
        border-bottom: 1.5px solid hsla(0, 0%, 0%, 0.792);
    }

    > div:last-child, > div:nth-last-child(2):nth-child(odd) {
        border-bottom: none;
    }
}