@use "src/styles/styles";

.logger {
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.state {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.buttons {
    flex: 2;
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    > * {
        min-width: 0;
        min-height: 0;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
