@use "src/styles/styles";

.wrapper {
    min-width: 0;
    min-height: 0;
}

.collapsed {
    padding: .6rem;
    background-color: styles.$base-color;
    border-radius: .8rem;
}

.icon {
    width: 2rem;

    img {
        filter: invert(1);
        width: 100%;
        color: white;
    }
}