@use "src/styles/styles";

.boardOrders {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.name {
    display: flex;
    gap: .6rem;
    font-family: Inter;
    font-weight: 600;
    color: hsl(29, 88%, 70%);
    cursor: pointer;
}

.orders,
.stateOrders {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .title {
        color: rgb(145, 145, 145);
        font-weight: 600;
    }
}
