@use "src/styles/styles";
@use "src/styles/colors" as colors;

.boardOrders {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: colors.getThemeColor("surface");
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.name {
    display: flex;
    gap: .6rem;
    font-family: Inter;
    font-weight: 600;
    color: colors.getThemeColor("secondary");
    cursor: pointer;
    
    &:hover {
        color: colors.getThemeColor("secondary-hover");
    }
}

.orders,
.stateOrders {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .title {
        color: colors.getThemeColor("text-secondary");
        font-weight: 600;
    }
}
