@use "src/styles/colors.scss";

.tempWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rangeBarWrapper {
    width: 0.5rem;
    height: 100%;
    border-radius: 10rem;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.rangeBarWrapper,
.bulb {
    filter: contrast(1.4);
}

.content {
    width: 100%;
    background-color: white;
    transition: height 0.3s linear;
}

.bulb {
    flex-shrink: 0;
    margin-top: -110%;
    width: 150%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 1;
}
