@use "@styles/styles";
#wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

#name {
    margin-bottom: 0.5rem;

    @include styles.normal-text-style;
    font-style: italic;
    color: #a9adb6;
}

#measurementList {
    @include styles.normal-text-style;
}

.treeNode {
    margin-left: 0.8rem;
}
