.headerWrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    border: 2px solid #e6e8eb;
    border-radius: 0.5rem;
}

.caret {
    transform: rotate(180deg);
}
