// .measurementView {
//     display: flex;
//     align-items: center;
//     gap: 2rem;
//     padding: 0.4rem 0;
//     overflow: hidden;
// }

// .measurementView:not(:last-child) {
//     border-bottom: 1px solid var(--border-color);
// }

.name,
.value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name {
    grid-column: 1;
    color: rgb(78, 78, 78);
}

.show_last {
    grid-column: 2;
}

.value {
    grid-column: 3;
    text-align: right;
    color: hsl(29, 88%, 57%);
    font-family: Consolas;
    font-size: 1.2rem;
}

.units {
    grid-column: 4;
    text-align: center;
}

.type {
    grid-column: 5;
    text-align: center;
}
