@use "src/styles/styles";

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex: 0 0 2.5rem;
    overflow-x: clip;

    margin-bottom: 1.2rem;
    .name {
        display: flex;
        align-items: center;
        @include styles.title-text;
        line-height: 95%;
    }
}
