# Hyperloop H10 Development Environment
#
# This file is used by direnv to automatically load the development environment
# when you enter this directory.
#
# To use:
# 1. Install direnv: https://direnv.net/
# 2. Run: direnv allow
#
# For pure shell (default):
use nix
