[submodule "backend/cmd/adj"]
	path = backend/cmd/adj
	url = https://github.com/HyperloopUPV-H8/adj.git
[submodule "packet-sender/adj"]
	path = packet-sender/adj
	url = https://github.com/HyperloopUPV-H8/adj.git
