@use "src/styles/fonts";

.valueDataWrapper {
    display: grid;
    width: max-content;
    grid-template:
        "name name" auto
        "value units" auto / minmax(5rem, min-content) auto;
    justify-items: start;
    gap: 0.2rem;
}

.name {
    grid-area: name;
    font-size: fonts.getFontSize("small");
    font-weight: fonts.getFontWeight("light");
    font-style: italic;
}

.value {
    grid-area: value;
    font-family: var(--font-family-mono);
    font-weight: 500;
}

.units {
    grid-area: units;
    font-family: var(--font-family-mono);
    font-weight: 500;
}
