.batteryInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.body {
    display: flex;
    gap: 1rem;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;
}
