@use "src/styles/styles";

.wrapper {
    display: grid;
    grid-template: "icon title" / auto auto;
    align-items: center;
    gap: 0.5rem;
    height: auto;
    padding: 0.5rem;
    //border: 2px solid styles.$alternate-text-color;
    background-color: rgb(240, 240, 240);
    border-radius: 0.8rem;
    cursor: pointer;
}

.icon {
    grid-area: icon;

    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}
