# GOOGLE API KEY
secret.json

log
trace.json

# Windows build
*.exe
# Linux build
Backend-H8
backend
!build
# MacOS build
cmd/cmd
cmd/logger/

# EXCEL
*.xlsx

static

.vscode

downloads

audience_static
