.itemsWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    gap: 0.15rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 12px 35px 15px rgba(0, 0, 0, 0.01),
        7px 20px 13px rgba(0, 0, 0, 0.02), 3px 9px 9px rgba(0, 0, 0, 0.03),
        1px 2px 5px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
}
