@use "../../styles/colors";

.gaugeTagWrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: map-get($map: colors.$key-colors, $key: lightskyblue);
    padding: .6rem;
    border-radius: 100%;
}

.gauge {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 6rem;
}
