@use "@styles/styles.scss";

.containerMessages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: fit-content;
}

.title {
    @include styles.subtitle-text-style;
}
