.loadingView {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    font-size: 6rem;
    font-weight: 900;
    color: rgb(241, 105, 52);
}

.monkey {
    font-family: NotoColorEmoji;
}
