@use "@styles/styles";

.wrapper {
  width: 100%;
  display: grid;
  grid-template: "name value" / minmax(4rem, min-content) 2rem;
  gap: 1rem;
  padding: 0 1rem;
  @include styles.code-text;
}

.value {
  grid-area: value;
  justify-self: right;
}
