.LCUWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.levitationUnitsWrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.levitationUnitsColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.rotationIndicatorsWrapper {
    max-width: 40rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}
