.LCUWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 8%;
  padding: 0rem;
  border-radius: 0.75rem;
}

.subtitle {
  font-size: 1rem;
  text-align: center;
  color: #5894A7;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

.levitationUnitsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.levitationUnitsColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.currentBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  color: #2e7d32;
  font-weight: 500;

  &::before {
    content: '';
    display: inline-block;
    background-color: #66bb6a;
    height: 0.6rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    width: 80%;
  }
}

.rotationIndicatorsWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0rem 0rem;
}

.rotationIndicator {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
