@use "src/styles/styles.scss";

.logItemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.icon {
    img {
        width: 1.6rem;
    }
}

.title {
    color: styles.$title-color;
    font-size: 1.6rem;
    font-family: styles.$code-font;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.active {
    color: styles.$orange;
}