@use "src/styles/styles";

.packetView {
    display: flex;
    flex-direction: column;
    color: rgb(91, 91, 91);
    --border-color: rgb(219, 219, 219);
    --border-width: 1px;
}

.data {
    display: flex;
    align-items: stretch;
    border-top: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    // background-color: #edf3ff;
    @include styles.shadow;
}

.data > * {
    flex: 1 1 0;
    text-align: center;
    padding: 0.5rem;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data > *:not(:first-child) {
    border-left: var(--border-width) solid var(--border-color);
}

.body {
    padding: 0.5rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

.measurements {
    display: grid;
    grid-template-columns: minmax(0, 15rem) min-content min-content min-content;
    align-items: center;
    gap: 1rem;
}
