@use "src/styles/colors.scss";

.testingPageWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;
    border-radius: 1rem;
    flex-grow: 1;
}

.podRepresentation {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    border-radius: 1rem;
}

.threeJSAndInfo {
    flex-basis: 20rem;
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    border-radius: 1rem;
}

.threeJS {
    border-style: solid;
    border-radius: 1rem;
    flex-basis: 45rem;
}

.info {
    border-color: yellow;
    border-style: double;
    flex: 1 4 auto;
    border-radius: 1rem;
}

.graphics {
    border-color: green;
    border-style: double;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    border-radius: 1rem;
}
