@use "./colors.scss";
@use "./fonts.scss";

:root {
    @include fonts.globalFontStyles;
}

:root {
    @include colors.globalColors;
}

:root {
    @include fonts.default-text;
}

:root {
    --shadow: drop-shadow(16px 11px 8px rgba(189, 189, 189, 0.01))
        drop-shadow(9px 6px 7px rgba(189, 189, 189, 0.02))
        drop-shadow(4px 3px 5px rgba(189, 189, 189, 0.03))
        drop-shadow(1px 1px 3px rgba(189, 189, 189, 0.04))
        drop-shadow(0px 0px 0px rgba(189, 189, 189, 0.04));
}

* {
    box-sizing: border-box;
    user-select: none;
}

svg {
    display: block;
}

img {
    display: block;
    width: 100%;
}

path {
    display: block;
}

body {
    margin: 0;
}

h1 {
    font-size: fonts.getFontSize("large");
    color: colors.getColor("primary", 30);
    margin: 0;
}
