@use 'src/styles/colors';
@use 'src/styles/fonts';

.page {
    display: flex;
    flex-flow: column;
    gap: 0.4rem;

    width: 100%;

    padding: 0.8rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;

    > h1 {
        font-size: map-get($map: fonts.$font-sizes, $key: default);
    }

    &::after {
        content: '';

        width: 100%;
        height: 3px;
        border-radius: 1rem;

        margin-left: 1.3rem;

        background-color: colors.getColor('primary', 90);
    }
}

.content {
    width: 100%;
}
