@use "src/styles/colors.scss";

.testControlsWrapper {
    width: 12.5rem;
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
}

.playWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.sectionWrapper {
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 1rem;
    justify-content: space-between;
    gap: 0.2rem;
}

.title {
    background-color: colors.getColor("tertiary", 90);
    color: colors.getColor("tertiary", 70);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0.5rem;
    font-size: large;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0.5rem;
    padding-top: 0.7rem;
    gap: 1rem;
}
