.tempTag {
    display: grid;
    grid-template:
        "title title" auto
        "icon value" auto/ auto auto;

    align-items: center;

    > :nth-child(1) {
        grid-area: title;
    }
    > :nth-child(2) {
        grid-area: icon;
    }
    > :nth-child(3) {
        grid-area: value;
        justify-self: end;
    }

    background-color: var(--primary-95);
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.8rem;
}

.title {
    font-weight: 300;
}

.value {
    font-size: 1.6rem;
    font-weight: 700;
}
