.textData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-row-start: 1;
    grid-column-start: 1;
    font-size: inherit;

    .name {
        font-weight: inherit;
        font-size: 0.7em;
        font-weight: 400;
    }

    .value {
        font-family: var(--font-family-mono);
        font-size: 1.8em;
        font-weight: 600;
    }

    .units {
        font-weight: inherit;
        font-size: 1em;
        font-weight: 400;
    }
}
