@use "src/styles/colors.scss";

.camerasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.camerasBody {
    flex-grow: 1;
    background-color: colors.getColor("primary", 15);
    position: relative;
}

.secondaryCameras {
    display: grid;
    grid-template-areas:
        "title cam2"
        "title cam3";
    margin: 1rem;
}

.title {
    grid-area: title;
    margin: 0.5rem;
    padding: 0.5rem;
}

.cam2 {
    grid-area: cam2;
    height: 10rem;
    width: 15rem;
    background-color: colors.getColor("primary", 20);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: colors.getColor("primary", 15);
}

.cam3 {
    grid-area: cam3;
    height: 10rem;
    width: 15rem;
    background-color: colors.getColor("primary", 20);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: colors.getColor("primary", 15);
}

.dot {
}
