@use "src/styles/colors.scss";

.camerasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.camerasBody {
    flex-grow: 1;
    background-color: colors.getColor("primary", 15);
    position: relative;
}

.overlayCameras {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 1rem;
}

// .title {
//     padding: 0.5rem;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }

// .name {
//     color: colors.getColor("primary", 99);
// }

// .dot {
//     background-color: red;
//     height: 1rem;
//     width: 1rem;
//     margin-left: 0.5rem;
//     border-radius: 50%;
// }

// .secondaryCameras {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .gradientSecondaryCam {
//     //TODO: Change manual color of transparentize
//     background: linear-gradient(
//         135deg,
//         colors.getColor("primary", 40),
//         transparentize($color: #131e20, $amount: 1)
//     );
//     border-radius: 1rem;
//     padding: 1px;
//     margin: 0.5rem;
// }

// .cam2 {
//     height: 10rem;
//     width: 15rem;
//     background-color: colors.getColor("primary", 20);

//     border-radius: 1rem;
//     // margin: 0.5rem;
//     padding: 0.5rem;

//     border: 1px solid;
//     //border-color: linear-gradient(45deg, blue, red);
//     //linear-gradient(135deg, orange 60%, cyan)
// }

// .cam3 {
//     height: 10rem;
//     width: 15rem;
//     background-color: colors.getColor("primary", 20);
//     border-radius: 1rem;
//     padding: 0.5rem;
// }

// .secondaryCameras {
//     display: grid;
//     grid-template-areas:
//         "title cam2"
//         "title cam3";
//     margin: 1rem;
// }

// .title {
//     grid-area: title;
//     margin: 0.5rem;
//     padding: 0.5rem;
// }

// .cam2 {
//     grid-area: cam2;
//     height: 10rem;
//     width: 15rem;
//     background-color: colors.getColor("primary", 20);
//     border-radius: 1rem;
//     margin: 0.5rem;
//     padding: 0.5rem;
//     color: colors.getColor("primary", 15);
// }

// .cam3 {
//     grid-area: cam3;
//     height: 10rem;
//     width: 15rem;
//     background-color: colors.getColor("primary", 20);
//     border-radius: 1rem;
//     margin: 0.5rem;
//     padding: 0.5rem;
//     color: colors.getColor("primary", 15);
// }
