@use "src/styles/colors.scss";

.pumpIndicatorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.label {
    width: fit-content;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    background-color: colors.getColor("primary", 90);
    color: colors.getColor("primary", 60);
    font-weight: bold;
}
