@use "src/styles/styles";
@use "src/styles/colors" as colors;

.fieldsWrapper {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid colors.getThemeColor("secondary");

    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-x: auto;
}
