.newReceiveTable {
    --main-color: #317ae7;
    --bg-color: #bad6ff;
    --light-main-color: #5e95e8;
    --light-bg-color: #edf3ff;

    display: flex;
    flex-direction: column;
    min-height: 0;
    border-radius: 0.5rem; // Para que la tabla no se veo en las esquinas superiores debido al hueco que deja el border-radius del header
    flex: 1 1 0;
}

.boards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: 1rem;
}
