@use "src/styles/styles";

.textInput {
    flex: 1 1 0;
    min-width: 5rem;
    padding: 0.5rem 0.8rem;
    border-radius: styles.$normal-border-radius;
    font: inherit;
}

.valid {
    border-color: #84e067;
}

.invalid {
    border-color: rgb(244, 90, 90);
}

.disabled {
    color: rgb(147, 147, 147);
    border-color: rgb(183, 183, 183);
}
