@use "@styles/styles";

.textInput {
    width: 100%;
    padding: 0.8rem;
    border-radius: styles.$normal-border-radius;
    @include styles.normal-text-style;
}

.valid {
    border-color: greenyellow;
}

.invalid {
    border-color: red;
}
