@use "src/styles/colors";

.enum_indicator {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: clamp(1.5rem, 2.5vw, 2rem);
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: clamp(0.2rem, 0.8vw, 0.4rem);
    border-radius: 0.4rem;
}

.enum_indicator:last-child {
    margin-bottom: 0;
}

.title {
    font-family: Roboto;
    font-size: clamp(0.75rem, 2vw, 1rem);
    font-style: normal;
    text-align: center;
    font-weight: 400;
    opacity: 0.8;
    margin: 0;
    flex: 1 1 auto;
    color: colors.getColor("primary", 15);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    opacity: 0.6;
    width: clamp(0.7rem, 1.5vw, 0.9rem);
    height: clamp(0.7rem, 1.5vw, 0.9rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-shrink: 0;
}
.enum_indicator > .icon:first-child {
    justify-self: start;
    margin-left: 0.15rem;
    margin-right: 0.4rem;
}
.enum_indicator > .icon:last-child {
    justify-self: end;
    margin-left: 0.4rem;
    margin-right: 0.15rem;
}
