@use "src/styles/styles";

.buttonWrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    text-align: center;
    border-radius: styles.$normal-border-radius;
    background-color: styles.$orange;
    color: white;
    user-select: none;

    @include styles.shadow;

    &.enabled {
        cursor: pointer;
    }

    &.disabled {
        cursor: auto;
        background-color: #b6b6b6;
    }
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    width: 75%;
}