@use "@styles/styles.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    min-height: fit-content;
    overflow-y: auto;
    background-color: styles.$isle-color;
}

.connectionsList {
    width: 100%;
    @include styles.code-text;
    border-radius: styles.$normal-border-radius;
    overflow: hidden;
    > *:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.title {
    width: 100%;
    padding-left: 0rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    @include styles.code-text;
    @include styles.subtitle-text;
}
