.legendItemWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    padding: 0.5rem 0;
    // @include styles.alternate-code-text;

    &:hover .removeBtn {
        opacity: 1;
    }
}

.value {
    justify-self: right;
}

.removeBtn {
    justify-self: right;
    display: flex;
    align-items: center;
    margin: 0 0.6rem;
    cursor: pointer;
    color: black;
    transform: scale(1.3);
    // transition: styles.$opacity-transition;
    opacity: 0;
}

.lineColor {
    width: 1.5rem;
    height: 0.5rem;
    border-radius: 5rem;
    margin: 0 0.6rem;
    //FIXME: diseño alineado con y sin lineColor, mismo espacio entre borde y line que entre line y name
    background-color: blue;
}
