#wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-end;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inactive {
  opacity: 70%;
}

#wrapper > *:nth-child(n + 2) {
  //margin-left: -5rem;
}

#wrapper::-webkit-scrollbar {
  display: none;
}
