.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boosterMainContainer{
  display: flex;
  justify-content: start; 
  align-items: start;
  width: 100%;
}

.boosterContainer {
  width: 150vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  overflow: hidden;
  box-sizing: border-box;
  margin: 20px;
}

.statusContainer {
  width: 100%; 
  display: flex;
  justify-content: center;
  margin: 20px;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2.5px solid #FFE7CF;
  border-radius: 20px;
  width: 95%; 
  text-align: center;
  background-color: #FFF7EC;
  color: #EF7E30;
  font-family: 'IBM Plex Mono', monospace;
}

.value {
  border: 1.5px solid #EF7E30;
  border-radius: 20px;
  width: 12%;
  height: 50px;
}

.modulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  width: 100%;
}

h1{
  padding-left: 20px;
  padding-top: 20px;
}

.boosterDecorationLine {
  flex: 2;
  border-bottom: 2.5px solid #C6DCE9;
  margin-top: 20px;
  margin-left: 40px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 15px;
}

.main{
  display: flex;
  flex-direction: row;
}

.messagesAndOrders{
  margin-top: 20px;
}

.orders{
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
  height: 80px;
}