@use "src/styles/styles";
.boardOrders {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.name {
    display: flex;
    gap: 0.3rem;
    font-family: Inter;
    font-weight: 500;
    font-size: 0.8rem;
    color: hsl(29, 88%, 70%);
    cursor: pointer;
}
.orders,
.stateOrders {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .title {
        color: rgb(145, 145, 145);
        font-weight: 500;
        font-size: 0.7rem;
    }
}