@use "src/styles/styles";

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.4rem 0;
    cursor: pointer;

    & > :first-child {
        margin: 0 0.3rem;
        font-size: 1rem;
        color: styles.$blue;
    }
    .name {
        text-align: left;
        @include styles.normal-text;
        color: styles.$blue;
        font-weight: 600;
    }
}
