.subsections {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    overflow: hidden;

    > * {
        margin-bottom: 0.8rem;
    }
}
