@use "@styles/styles";

#wrapper {
  border: 1px solid styles.$blue;
  border-radius: styles.$default-border-radius;
  overflow: hidden;
  position: sticky;
  top: 0;
  flex-shrink: 0;

  width: 100%;
  z-index: 1;

  > * {
    padding: 0.5rem 0.5rem;

    @include styles.default-text-2;
    background-color: #bad6ff;
    color: styles.$blue;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
  }

  > *:nth-child(n + 2) {
    border-left: 1px solid styles.$blue;
  }
}
