@use "src/styles/styles";

.wrapper {
    width: 100%;
    display: grid;
    grid-template: "name value units" / min(18rem) min(6rem) auto;
    gap: 1rem;
    padding: 0 1rem;
    @include styles.code-text;
}

.value {
    grid-area: value;
    justify-self: right;
}

.units {
    grid-area: units;
    justify-self: left;
}
