@use "./colors.scss";
@use "./fonts.scss";

:root {
    @include fonts.globalFontStyles;
}

:root {
    @include colors.globalColors;
}

:root {
    @include fonts.default-text;
}

* {
    box-sizing: border-box;
    user-select: none;
}

svg {
    display: block;
}

path {
    display: block;
}

body {
    margin: 0;
}

h1 {
    font-size: fonts.getFontSize("large");
    color: colors.getColor("primary", 30);
    margin: 0;
}
