$normal-font: Inter;
//$code-font: Cascadia Code;
//$code-font: Cascadia Mono;
$code-font: Consolas;
$default-text-color: #373c43;
$title-text-color: #4f5762;
$default-background: #fdfdfd;
$text-color-2: #5a6a89;
$orange: #f28d30;
$blue: #317ae7;
$default-border-radius: 0.2rem;
$default-font-size: 0.8rem;

@mixin code-text {
  font-family: $code-font;
  font-size: $default-font-size;
  color: $default-text-color;
}

@mixin default-text {
  font-family: $normal-font;
  font-size: $default-font-size;
  color: $default-text-color;
}

@mixin default-text-2 {
  font-family: Cascadia Code;
  font-size: $default-font-size;
  color: $text-color-2;
}

@mixin undraggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
