@use "sass:color";

// COLORS
$background-color: #cee0f0;
$isle-color: #ffffff;
$title-color: #45677d;
$normal-text-color: #373c43;
$alternate-text-color: #5a6a89;
$orange: #f28d30;
$blue: #317ae7;
$sidebar-base-color: #f7dec8;

//DARK THEME
$dark-isle-color: #404654;
$dark-normal-text-color: #bec6d2;

// FONTS
//TODO: define fallbacks fonts in case some are not installed
$sans-font: Inter, Helvetica, Arial;
$code-font: Cascadia Code, Cascadia Mono, Consolas, Monoscape;

// FONT-SIZE
$title-font-size: 1.9rem;
$normal-font-size: 1rem;
$small-font-size: x-small;

// FONT-WEIGHT
$bold-font-weight: 700;
$normal-font-weight: 400;

// PADDING
$large-padding: 2rem;
$normal-padding: 1.2rem;

// BORDER-RADIUS
$large-border-radius: 1rem;
$normal-border-radius: 0.2rem;

// BORDER-WIDTH
$normal-border-width: 1px;

// TRANSITIONS
$background-color-transition: background-color 0.08s linear;

// MIXINS
@mixin code-text {
    font-family: $code-font;
    font-size: $normal-font-size;
    color: $normal-text-color;
}

@mixin title-text {
    font-family: $sans-font;
    font-size: $title-font-size;
    color: $title-color;
    font-weight: $bold-font-weight;
}

@mixin normal-text-style {
    font-family: $code-font;
    font-size: $normal-font-size;
    color: $alternate-text-color;
    font-weight: $normal-font-weight;
}

@mixin subtitle-text-style {
    font-family: $code-font;
    font-size: $normal-font-size;
    font-style: italic;
    color: #a9adb6;
}

@mixin tab-font {
    font-family: $sans-font;
    font-size: $normal-font-size;
    font-weight: 500;
    color: $title-color;
}

@mixin undraggable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin flash-button($color) {
    @keyframes flash-button {
        0% {
            background-color: lightness($color, 18%);
        }
        20% {
            background-color: lightness($color, 0%);
        }
    }

    animation-name: flash-button;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.29, 0.85, 1, 1);
}

// FUNCTIONS
@function transparency($color, $transparency) {
    @return color.adjust($color, $alpha: $transparency);
}

@function lightness($color, $lightness) {
    @return color.adjust($color, $lightness: $lightness);
}

@function saturation($color, $saturation) {
    @return color.adjust($color, $saturation: $saturation);
}
