@use "src/styles/styles";
@use "src/styles/colors" as colors;

.chartWrapper {
    flex-shrink: 0;

    border: 1px solid colors.getThemeColor("border");
    border-radius: styles.$normal-border-radius;
    overflow: hidden;
    background-color: colors.getThemeColor("surface");
}

.chart {
    padding: 0.8rem;
}
