.boxContainer1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
}

.boxContainer2 {
    border: 2.5px solid #FFE7CF;
    width: 65%;
    height: 140px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    background-color: white;
}

.boxContainer3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    padding: 5px;
}

.voltajeContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2Module {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    background-color: #FFE7CF;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    position: absolute;
    transform: translateY(-100%);
}

.titleDecorationModule {
    text-align: center;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    height: 20px;
}

.h3 {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

.p {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #FFE7CF;
    border-radius: 10px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 0px 0px 5px 6px;
    width: 50%;
}

.flexCells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px; 
    justify-content: center; 
    align-items: center;
    width: fit-content; 
    margin: 5 auto; 
    border-radius: 20px;
    border: 2.5px solid #FFE7CF;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}


.cell {
    width: 65px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.red {
    background-color: red;
}
  
.green {
    background-color: rgb(33, 240, 33);
}
  
.lightOrange1 {
    background-color: #FFA500;
}

.lightOrange2 {
    background-color: #FFCC80;
}

.voltageTotal {
    display: inline-block;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FFE7CF;  
    font-size: 0.8rem;
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
  }

  .value {
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
  }
  .voltageRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding-bottom: 5px;
    padding-right: 5px;
}
