.button {
    width: 120px;
    height: 120px;

    background-color: #d9edff;
    color: #003b4d;

    appearance: none;
    border: none;
    border-radius: 10px;

    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
}

.button:hover {
    background-color: #c4d7e5;
}

.button:active {
    background-color: #96bcd8;
}
