.boardsPage {
    flex: 1 1 0;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    min-height: 0;

    > * {
        max-height: 100%;
        overflow: auto;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 100%;
    min-height: 0;
}

.gridColumn {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;
}
