@font-face {
    font-family: Consolas;
    src: url("/src/assets/fonts/Consolas/Consolas.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/src/assets/fonts/Consolas/Consolas-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/src/assets/fonts/Consolas/Consolas-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Consolas;
    src: url("/src/assets/fonts/Consolas/Consolas-Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}
