@use "src/styles/colors.scss";

.paginationItemWrapper {
    min-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem .5rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s linear;
    font-size: 1rem;
}

.active {
    color: white;
    background-color: colors.getColor("tertiary", 60);
}

.paginationItemWrapper:not(.active):hover {
    color: white;
    background-color: colors.getColor("tertiary", 80);
}
