@use '../../../styles/fonts.scss';

.textData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    grid-row-start: 1;
    grid-column-start: 1;
    font-size: inherit;
    z-index: 2;
    max-width: 80%;
    text-align: center;

    .name {
        font-weight: inherit;
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-size: map-get($map: fonts.$font-sizes, $key: x-small);
        font-weight: map-get($map: fonts.$font-weights, $key: light);
        font-style: italic;
        font-size: 0.6rem;
    }

    .value {
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-weight: map-get($map: fonts.$font-weights, $key: bold);
        font-size: 1.2rem;
    }

    .units {
        font-weight: inherit;
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-size: map-get($map: fonts.$font-sizes, $key: small);
        font-weight: map-get($map: fonts.$font-weights, $key: normal);
    }

    .min,
    .max {
        font-weight: 300;
        font-size: 12px;
    }
}
