@use "../../../styles/fonts.scss";
@use "../../../styles/colors.scss";

.textData {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    z-index: 2;
    max-width: 80%;
    text-align: center;

    .name {
        font-weight: inherit;
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-size: map-get($map: fonts.$font-sizes, $key: x-small);
        font-weight: map-get($map: fonts.$font-weights, $key: light);
        font-style: italic;
        font-size: 0.6rem;
        color: colors.getColor("primary", 95);
        padding-top: 1rem;
    }

    .value {
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-weight: map-get($map: fonts.$font-weights, $key: bold);
        font-size: 0.9rem;
        color: colors.getColor("primary", 99);
    }

    .units {
        font-weight: inherit;
        font-family: map-get($map: fonts.$font-families, $key: roboto);
        font-size: map-get($map: fonts.$font-sizes, $key: small);
        font-weight: map-get($map: fonts.$font-weights, $key: normal);
        color: colors.getColor("primary", 95);
    }

    .min {
        font-weight: 300;
        font-size: 11px;
        color: colors.getThemeColor("battery-text");
        padding-top: 0.5rem;
    }
    .max {
        font-weight: 300;
        font-size: 11px;
        color: colors.getThemeColor("battery-text");
    }
}
