@use "src/styles/styles";

.connectionViewWrapper {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
    @include styles.shadow;
    transition: background-color 0.05s linear;
}

.icon {
    min-width: 1em;
    min-height: 1em;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
}

$connected: #4f8d4a;
$disconnected: hsl(215, 10%, 40%);
$background-lightness: 40%;

.connected {
    color: $connected;
    background-color: styles.lightness($connected, $background-lightness);
}

.disconnected {
    color: $disconnected;
    background-color: styles.lightness($disconnected, $background-lightness);
}
