@use "src/styles/styles";

 .chartWrapper {
     flex-shrink: 0;

     border: 1px solid black;
     border-radius: styles.$normal-border-radius;
     overflow: hidden;
 }

 .chart {
     padding: 0.8rem;
 }