.tubePageWrapper {
    flex: 1 1 0;
    width: min-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
