@use "@styles/styles";

.wrapper {
  width: 100%;
  flex-shrink: 0;

  display: grid;
  grid-template-rows: 15rem auto;

  border: 2px solid #d3d8df;
  border-radius: styles.$default-border-radius;
  overflow: hidden;

  position: relative;
}

.removeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;

  width: min-content;
  height: min-content;

  font-size: 1.5rem;
  color: red;
  line-height: 60%;
  cursor: pointer;
}

.chartWrapper {
  width: 100%;
  height: 100%;
}
