@use "src/styles/styles";

.section {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
    background-color: styles.lightness(styles.$base-color, 30%);

    color: styles.$base-color;
    font-weight: bold;

    border-bottom: 1px solid styles.lightness(styles.$base-color, 18%);
}
