@use "src/styles/styles";

.wrapper {
    display: grid;
    grid-template-rows: min-content auto;
}

.packetInfo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include styles.code-text;
    background-color: styles.lightness(styles.$blue, 40%);
    > * {
        margin: -1px 0 0 -1px;
        overflow: hidden;
    }
}

.hexValue {
    overflow: hidden;
}
