@use "src/styles/colors";

fieldset {
    height: fit-content;
    transition: border-color 100ms ease-in;

    border: 2px solid;
    border-radius: 6px;
}

input {
    appearance: none;
    border: none;

    background-color: transparent;

    width: 100%;

    font-size: 1rem;

    color: colors.getColor("neutral", 30);

    &:focus {
        outline: none;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    -moz-appearance: textfield;
}

legend {
    transition: color 100ms ease-in;

    font-weight: 500;

    padding: 0 0.5rem;

    background-color: transparent;
}

.inputTagWrapperOn {
    border-color: colors.getColor("tertiary", 70);

    legend {
        color: colors.getColor("tertiary", 70);
    }
}

.inputTagWrapperOff {
    border-color: colors.getColor("neutral", 70);

    legend {
        color: colors.getColor("neutral", 70);
    }
}