fieldset {
    padding: 0;
    padding-left: 0.5rem;
}

.toggleInputWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
