@use "src/styles/styles";
@use "src/styles/colors" as colors;

.island {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    padding: 1rem;
    background-color: colors.getThemeColor("island-bg");
    border-radius: 0.8rem;
    box-shadow: colors.getThemeColor("shadow-sm");
}
