.messagesWrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.messages {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.6rem;
    min-height: 0;
    overflow-y: auto;
    height: 100%;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.clearBtn {
    flex: 0 0 auto;
    height: min-content;
}
