@use "@styles/styles";

.wrapper {
  display: grid;
  grid-template-rows: min-content auto;
  // content-visibility: auto;
}

.packetInfo {
  @include styles.code-text;

  > * {
    border: 1px solid lightgray;
  }
}

.measurements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  > * {
    margin: 0.5rem 0;
  }
}
