.separatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3px;
    height: 100%;

    .line {
        width: 50%;
        height: 100%;
        padding: 1px;
        background-color: rgb(215, 215, 215);
        border-radius: 1rem;
    }
}
