@use "src/styles/colors.scss";

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.name {
    color: colors.getColor("primary", 99);
    font-size: 1.5rem;
    opacity: 0.85;
}

.dot {
    background-color: red;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
