#idMsg {
    font-weight: bold;
    font-size: large;
    margin-left: 1%;
}

ul {
    background-color: black;
    color: white;
    list-style-type: none;
}

/* Para tema blanco
ul {
    background-color: white;
    color: black;
    list-style-type: none;
} */

#drop-down-arrow {
    /* background-image: url(arrow-dropdown-circle.svg); */
    max-width: 3%;
    max-height: auto;
    background-color: white;
    border-radius: 50%;
    margin-right: 1%;
}

#count {
    background-color: #AFAFAF;
    border-radius: 40%;
    text-align: center;
    font-size: x-small;
    padding-left: 1%;
    padding-right: 1%;

}

/* .lineMsg {
    float: left;
} */