@use "@styles/styles.scss";

#idMsg {
  @include styles.code-text;
  font-weight: bold;
  margin-right: 0.2rem;
  color: #c51010;
}

#descMsg {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.1rem;
  color: #c51010;
}

ul {
  list-style-type: none;
  margin: 0rem;
}

#dropDownArrowIcon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.2rem;
  min-width: 1rem;
  //visibility: hidden;
}

#count {
  background-color: #cfcece;
  display: flex;
  align-items: center;
  border-radius: 40%;
  text-align: center;
  font-size: x-small;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  height: 0.8rem;
  margin-right: 0.5rem;
}

.lineMsg {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  white-space: nowrap;
  align-items: center;
  //grid-template-columns: 1fr 2fr;
}

.hr {
  width: 100%;
  justify-content: left;
  margin: 0;
  color: #c51010;
}
