#idMsg {
    font-weight: bold;
    font-size: large;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#descMsg{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

ul {
    background-color: black;
    color: white;
    list-style-type: none;
    margin: 0rem;
}

/* Para tema blanco
ul {
    background-color: white;
    color: black;
    list-style-type: none;
} */

#drop-down-arrow {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}


#count {
    background-color: #AFAFAF;
    border-radius: 40%;
    text-align: center;
    font-size: x-small;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1rem;

}

.lineMsg{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    white-space: nowrap;
    margin-left: 0.5rem;
    align-items: center;
}
.hr{
    width: 100%;
    justify-content: left;
}