@use "@styles/overrideDefaultMethods.scss";

#containerMessages {
    background-color: black;
    width: 35rem;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.lineMsgUl {
    width: 100%;
    padding-top: 0.3rem;
    @include overrideDefaultMethods.override-ul;
}