@use 'src/styles/colors';
@use 'src/styles/fonts';

.window {
    display: flex;
    flex-flow: column;
    border-radius: 0.8rem;
    filter: var(--shadow);
    overflow: hidden;
    width: auto;
    flex: 1 0 auto;
}

.header {
    background-color: colors.getThemeColor('battery-header-bg');
    color: colors.getThemeColor('battery-header-text');
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    font-size: map-get($map: fonts.$font-sizes, $key: x-small);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.6rem;
    background-color: colors.getThemeColor('surface');
    overflow: scroll;
    height: 100%;
    width: 100%;
}