@use "src/styles/colors";
@use "src/styles/fonts";

.window {
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    overflow: hidden;
    height: fit-content;
    max-height: 100%;
    filter: var(--shadow);
    overflow: scroll;
}

.header {
    background-color: colors.getColor("tertiary", 90);
    color: colors.getColor("tertiary", 60);
    font-weight: bold;
    padding: .3rem .6rem;
    font-size: map-get($map: fonts.$font-sizes, $key: x-small);
}

.content {
    min-width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: .6rem;
    background-color: colors.getColor("primary", 99);
    min-height: 0;
    overflow: scroll;
}
