.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.1rem 0;

    > div {
        border-bottom: 1.5px solid hsla(0, 0%, 0%, 0.792);
    }

    > div:last-child,
    > div:nth-last-child(2):nth-child(odd) {
        border-bottom: none;
    }
}

.balancing {
    box-shadow: 0px 0px 15px 0px rgba(26, 90, 255, 0.7);
    border: var(--Stroke-M, 2px) solid #1a5aff;
}
