@use 'src/styles/colors';

.state_indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    width: 100%;
    min-height: 1.8rem;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    margin: 0;
    color: colors.getColor('primary', 15);
}

.icon {
    opacity: 0.6;
    max-width: 0.7rem;
    display: flex;
    align-items: center;
}
