@use "src/styles/styles";
@use "src/styles/colors" as colors;

.orderFormWrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include styles.code-text;
    border: 1px solid colors.getColor("secondary", 50);
    border-radius: 0.5rem;
    overflow: hidden;

    @include styles.shadow;
}

:global([data-theme="dark"]) .orderFormWrapper {
    border-color: colors.getColor("secondary", 40);
}
