@use "@styles/styles";

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 0.5rem;
  @include styles.default-text-2;

  &:not(:hover) {
    .removeBtn {
      visibility: hidden;
    }
  }
}

.removeBtn {
  justify-self: right;
  display: flex;
  align-items: center;
  cursor: pointer;

  > * {
    transform: scale(1.5) translate(0.4px, 0.4px);
  }
}

.lineColor {
  width: 1.8rem;
  height: 0.5rem;
  border-radius: 5rem;
  //FIXME: diseño alineado con y sin lineColor, mismo espacio entre borde y line que entre line y name
  margin-right: 0.8rem;
  background-color: blue;
}
