@use "@styles/styles";

.dropElementWrapper {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px dashed black;
    border-radius: styles.$large-border-radius;

    text-align: center;
}
