@use "src/styles/colors";

.buttonWrapper {
    width: 100%;
    height: 100%;
    padding: 0.4rem;

    display: flex;
    justify-content: center;
    border: 1px solid colors.getColor("primary", 50);
    background-color: colors.getColor("primary", 90);
    color: colors.getColor("primary", 50);
    border-radius: 0.4rem;

    cursor: pointer;
}

.buttonWrapper:hover {
    background-color: colors.getColor("primary", 95);
    color: colors.getColor("primary", 60);
    border: 1px solid colors.getColor("primary", 60);
}
