.colorfulChart {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    --bg-color: #eef6f7;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    padding: 1rem 0.3rem;
    border-radius: 1rem;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
}
