@use "@styles/styles";

#button {
  width: 100%;
  padding: 0.5rem;

  text-align: center;
  @include styles.default-text-2;
  background-color: styles.$orange;
  border-radius: styles.$default-border-radius;
  color: white;

  user-select: none;
  cursor: pointer;
}

#button:hover {
  filter: brightness(1.1);
}

#button:active {
  filter: brightness(0.9);
}
