@use "src/styles/styles";
@use "src/styles/colors" as colors;

#checkBox {
    width: 1rem;
    height: 1rem;
    border: 1px solid colors.getThemeColor("border");
    background-color: colors.getThemeColor("input-bg");
    
    &:checked {
        background-color: colors.getThemeColor("primary");
        border-color: colors.getThemeColor("primary");
    }
    
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px colors.getThemeColor("primary-surface");
    }
}
