.container {
    display: flex;
    min-width: 12rem;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: .1rem 0;
    
    > div {
        border-bottom: 1.5px solid hsl(0, 0%, 35%);
    }

    > div:last-child {
        border-bottom: none;
    }

    > div:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    > div:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}