.container {
    display: flex;
    min-width: 12rem;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    margin: .1rem 0;
    
    > div {
        border-bottom: 1.5px solid hsla(0, 0%, 0%, 0.792);
    }

    > div:last-child, > div:nth-last-child(2):nth-child(odd) {
        border-bottom: none;
    }
}