.boxContainer1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .boxContainer2 {
    border: 2.5px solid #FFE7CF;
    width: 65%;
    height: 130px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding-top: 20px;

  }
  
  .h2Module {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    height: 30px;
    background-color: #FFE7CF;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    position: absolute;
    transform: translateY(-165%);
    padding-top: 1px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .voltajeContainer {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 190px;
    box-sizing: border-box;
  }
  
  .titleDecorationModule {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
  }
  
  .h3 {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    margin: 2px 0; /* Reducido el margen vertical */
  }
  
  .dataStyle {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .p{
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    margin-top: 1px;
    max-height: 1.6rem;
    overflow: hidden;
    margin-bottom: 1px;
    padding: 5px 10px;
    background-color: #FFE7CF;
    border-radius: 20px;
    width: fit-content;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
  }
  
  .flexCells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 5 auto;
    border-radius: 20px;
    border: 2.5px solid #FFE7CF;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
  }
  
  
  .cell {
    width: 65px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: rgb(33, 240, 33);
  }
  
  .lightOrange1 {
    background-color: #FFA500;
  }
  
  .lightOrange2 {
    background-color: #FFCC80;
  }
  
  .voltageTotal {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: #FFE7CF;
    font-size: 0.8rem;
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
  }
  
  .value {
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .moduleInfoLabel {
    color: #EF7E30;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    width: 50%;
    text-align: left;
    margin: 0px;
  }