.background {
    position: relative;
    height: 4rem;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.infoContainer {
    position: absolute;
    padding: 0rem 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    position: absolute;
    top: -25%;
    left: -2%;
    filter: blur(10px);
    background-color: red;
    width: 40%;
    height: 150%;
    transition: width 0.1s ease-in-out;
}

.title {
    opacity: .8;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}

.value {
    flex: 1;
    opacity: .8;
    font-size: 32px;
}

.unit {
    flex: 1;
}

.icon {
    display: flex;
    opacity: .7;
    height: 100%;

    img {
        width: 1.6rem;
    }
}

.iconName {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.valueUnits {
    width: 3rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: end;
}