@use 'src/styles/fonts';

.bar_indicator {
    position: relative;

    min-height: fit-content;
    width: 100%;
    overflow: hidden;

    padding: 8px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.range_bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    box-shadow: 2px 0 1rem 1rem currentColor;
    background-color: currentColor;

    transition: width 0.1s ease-in-out;
}

.name_display,
.value_display {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 4px;
}

.name_display {
    width: 100%;
}

.icon {
    max-width: 10px;

    opacity: 0.8;
}

.name {
    width: 100%;

    margin: 0;

    opacity: 0.8;

    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    text-overflow: ellipsis;
}

.value,
.units {
    opacity: 0.8;

    margin: 0;

    font-size: 20px;
    font-weight: 400;
}

.min_max {
    display: flex;
    flex-flow: column;
    gap: 0.1rem;
    margin-left: 0.2rem;
}

.min,
.max {
    opacity: 0.8;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
}
