@use 'src/styles/fonts';

.container {
    position: relative;
    min-height: 1.8rem;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;

    .range_bar {
        box-shadow: 2px 0 1rem 1rem currentColor;
        background-color: currentColor;
        height: 100%;
        transition: width 0.1s ease-in-out;
    }
}

.infoContainer {
    position: absolute;
    padding: 0rem 0.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    position: absolute;
    top: -25%;
    left: -2%;
    filter: blur(0.5rem);
    background-color: red;
    width: 40%;
    height: 150%;
    transition: width 0.1s ease-in-out;
}

.title {
    opacity: 0.8;
    font-size: map-get($map: fonts.$font-sizes, $key: x-small);
    font-style: italic;
    font-weight: 300;
}

.value {
    flex: 1;
    opacity: 0.7;
    font-size: map-get($map: fonts.$font-sizes, $key: small);
}

.unit {
    flex: 1;
    opacity: 0.7;
    font-size: 0.8rem;
}

.icon {
    display: flex;
    justify-content: center;
    opacity: 0.6;
    width: 0.7rem;
}

.iconName {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
}

.valueUnits {
    display: flex;
    width: 3rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
}
