@use "src/styles/styles";
@use "src/styles/colors" as colors;

.subsection {
    display: flex;
    flex-direction: column;
}

.name {
    margin-bottom: 0.5rem;
    font-style: italic;
    color: colors.getThemeColor("text-tertiary");
}
