@use "src/styles/styles";

.boardsWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    .boardName {
        text-align: left;
        padding-left: 1rem;
        @include styles.normal-text;
        color: styles.$blue;
        font-weight: 600;
        //FIXME: blue border is under gray border from packet
        border: 1px solid styles.$blue;
    }
}
