@use "src/styles/styles";

.orderFormWrapper {
    width: 100%;
    @include styles.code-text;
    border: 1px solid styles.$orange;
    border-radius: styles.$normal-border-radius;
    overflow: hidden;
}
