@use "@styles/styles";

#wrapper {
    flex: 0 0 auto;
    width: 100%;
    @include styles.code-text;
    border: 1px solid styles.$orange;
    border-radius: styles.$normal-border-radius;
    overflow: hidden;
}
