.controlPage {
    display: grid;
    grid-template:
        "orders column connections" minmax(5rem, 1fr)
        "orders column logger" min-content
        "orders column emergencyOrders" auto / 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    gap: 1.3rem;
    min-height: 0;
    max-height: 100%;
}

.column {
    display: grid;
    grid-template-rows: 1fr auto;
    align-self: stretch;
    gap: 1.5rem;
}

.controlPage > :nth-child(1) {
    grid-area: orders;
}

.controlPage > :nth-child(2) {
    justify-self: stretch;
    grid-area: column;
}

.controlPage > :nth-child(3) {
    grid-area: connections;
}

.controlPage > :nth-child(4) {
    grid-area: logger;
}

.controlPage > :nth-child(5) {
    justify-self: stretch;
    grid-area: emergencyOrders;
}
