@use "src/styles/colors";

.batteryIconWrapper {
    width: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminal {
    width: 50%;
    height: 0.2rem;
    background-color: colors.getColor("stable", 80);
    --border-radius: 0.1rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.container {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background-color: colors.getColor("stable", 80);
    border-radius: 0.35rem;
}

.fill {
    background-color: colors.getColor("stable", 60);
}
