@use "src/styles/styles";
@use "src/styles/colors" as colors;

.textInput {
    flex: 1 1 0;
    min-width: 5rem;
    padding: 0.5rem 0.8rem;
    border-radius: styles.$normal-border-radius;
    font: inherit;
    transition: border-color 0.1s linear;
    background-color: colors.getThemeColor("input-bg");
    color: colors.getThemeColor("text-primary");
    border: 1px solid colors.getThemeColor("border");

    &:focus {
        outline: none;
        border-color: colors.getThemeColor("primary");
    }
}

.valid {
    border-color: colors.getThemeColor("success");
}

.invalid {
    border-color: colors.getThemeColor("error");
}

.disabled {
    color: colors.getThemeColor("text-disabled");
    border-color: colors.getThemeColor("border");
    background-color: colors.getThemeColor("surface-variant");
}
