@use "@styles/styles";

//FIXME: when width small, cells misalign
//FIXME: no border between last measurement and next board header

#wrapper {
  //border: 1px solid styles.$blue;
  background-color: styles.$default-background;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  .boardName {
    text-align: left;
    padding-left: 1rem;
    @include styles.default-text-2;
    color: styles.$blue;
    font-weight: 600;
    //FIXME: blue border is under gray border from packet
    border: 1px solid styles.$blue;
  }
}
