@use "@styles/styles";

#wrapper {
  border: 1px solid styles.$blue;
  border-radius: styles.$default-border-radius;
  background-color: styles.$default-background;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#table {
  width: 100%;
  height: 100%;
  border-style: hidden;
  text-align: center;
}

#table,
#table th,
#table td {
  border-collapse: collapse;
  height: fit-content;
  padding: 0.25rem;
}

#table td {
  border: 1px solid lightgray;
}

.boardRow {
  border: 1px solid styles.$blue;

  .boardName {
    text-align: left;
    padding-left: 1rem;
    @include styles.default-text-2;
    color: styles.$blue;
    font-weight: 600;
  }
}
