@use "@styles/styles";
$header-color: #ffe4cc;

.wrapper {
    width: 100%;
    height: auto;
    padding: 0.5rem;

    display: grid;
    grid-template:
        "caret name button" auto
        / auto 1fr 5rem;
    align-items: center;
    gap: 0.5rem;
    background-color: $header-color;
    @include styles.normal-text-style;

    .caretWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caretWrapper > * {
        color: styles.$orange;
    }

    .name {
        grid-area: name;
        color: styles.$orange;
        font-weight: 500;
    }
}

#sendBtn {
    grid-area: button;
    height: 2rem;
    button {
        height: 100%;
    }
}
