@use "@styles/styles";
$header-color: #ffe4cc;

#wrapper {
  width: 100%;
  height: auto;
  padding: 0.5rem;

  display: grid;
  grid-template:
    "caret name button" auto
    / 1.5rem 1fr 5rem;
  align-items: center;
  background-color: $header-color;
  @include styles.default-text-2;

  .caretWrapper > * {
    color: styles.$orange;
  }

  #name {
    grid-area: name;
    color: styles.$orange;
    font-weight: 500;
  }
}

#sendBtn {
  grid-area: button;
  height: 2rem;
  button {
    height: 100%;
  }
}
