@use "src/styles/colors" as colors;

.progressBar {
    height: 1rem;
    display: flex;
    align-items: stretch;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: colors.getThemeColor("surface-variant");
}

.fill {
    background-color: colors.getThemeColor("success");
    transition: width 0.3s ease;
}
