@use "src/styles/colors" as colors;

.responseElementWrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.icon {
    font-size: 2rem;
}

.successIcon {
    color: colors.getThemeColor("success");
}

.failureIcon {
    color: colors.getThemeColor("error");
}
