.tubeDataWrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;

    padding: 1.5rem 3rem;

    background-color: white;
    border-radius: 1.5rem;
    font-size: 2.2rem;
    box-shadow: 5px 4px 50px -24px rgba(0, 0, 0, 0.1);
}
