@use "src/styles/colors";

.sidebarWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    padding: 2rem 0.8rem;
    background-color: colors.getColor("primary", 90);
    border-right: 1px solid colors.getColor("primary", 80);
}

.logo {
    font-size: 2rem;
    color: colors.getColor("primary", 30);
}

.separator {
    width: 46%;
    height: 0.25rem;
    border-radius: 10rem;
    background-color: colors.getColor("primary", 80);
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.5rem;
}
