@use "@styles/styles";

#wrapper {
  width: 100%;
  //   height: auto;
  height: 3rem;
  background-color: #365068;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

#tools {
  display: grid;
  grid-template-columns: auto auto;
}

#title {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 1rem;
  #logo {
    height: 2rem;
  }
  #name {
    @include styles.default-text-2;
    color: white;
    font-size: 1.2rem;
  }
}
