@use "src/styles/colors";

.cameras {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 2rem;
    color: colors.getColor("primary", 40);
}
