@use "src/styles/styles";
@use "src/styles/colors" as colors;

.dropElementWrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    outline: 1px dashed colors.getThemeColor("border");
    border-radius: styles.$large-border-radius;

    text-align: center;
    overflow: hidden;
    min-width: 6rem;
}

.dragOver {
    outline: 2px solid colors.getThemeColor("primary");
    background-color: colors.getThemeColor("primary-surface");
}

.link {
    font-weight: bold;
    color: colors.getThemeColor("primary");
    
    &:hover {
        color: colors.getThemeColor("primary-hover");
    }
}
