@use "src/styles/styles";
@use "src/styles/colors" as colors;

.wrapper {
    flex: 0 1 0rem;
    padding: 0.5rem;
    .line {
        width: 100%;
        height: 100%;
        padding: 1px;
        border-radius: 1rem;
        background-color: none;
        transition: styles.$background-color-transition;
    }

    &:hover {
        .line {
            background-color: colors.getThemeColor("border-hover");
        }
    }
}
