.ppuInfoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem; // width: 100%;
    // height: fit-content;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // row-gap: 1rem;
    .tag {
        width: 50%;
    }
}
