.levitationUnitWrapper {
    width: 100%;
    display: flex;
    gap: 1rem;

    > * {
        flex: 1;
    }
}

.levitationUnitImage {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: 60%;
    }
}

.levitationUnitMeasurements {
    width: 100%;
}
