@use "@styles/styles.scss";

.lineMsg {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2rem auto 1fr 2em;
  grid-template-areas: "caret id description .";
  text-align: left;
  white-space: nowrap;
  align-items: center;
}

.idMsg {
  grid-area: id;
  @include styles.code-text;
  font-weight: bold;
  text-align: left;
}

.description {
  grid-area: description;
  text-overflow: ellipsis;
  overflow: hidden;
}

.counter {
  justify-self: center;
}
