@use "src/styles/colors";
@use "src/styles/fonts";

.window {
    display: flex;
    min-height: 0;
    flex-direction: column;
    border-radius: 0.8rem;
    overflow: hidden;
    height: fit-content;
    max-height: 100%;

    filter: drop-shadow(16px 11px 8px rgba(189, 189, 189, 0.01))
        drop-shadow(9px 6px 7px rgba(189, 189, 189, 0.02))
        drop-shadow(4px 3px 5px rgba(189, 189, 189, 0.03))
        drop-shadow(1px 1px 3px rgba(189, 189, 189, 0.04))
        drop-shadow(0px 0px 0px rgba(189, 189, 189, 0.04));
}

.header {
    background-color: colors.getColor("tertiary", 90);
    color: colors.getColor("tertiary", 60);
    font-weight: fonts.getFontWeight("bold");
    padding: 0.5rem 1rem;
}

.content {
    background-color: colors.getColor("primary", 99);
    padding: 2rem;
    display: flex;
    min-height: 0;
    overflow-y: auto;
    align-items: stretch;
}
