@use "src/styles/colors";
@use "src/styles/fonts";

.window {
    display: flex;
    min-height: 0;
    flex-direction: column;
    border-radius: 0.8rem;
    overflow: hidden;
    height: fit-content;
    max-height: 100%;

    filter: var(--shadow);
}

.header {
    background-color: colors.getColor("tertiary", 90);
    color: colors.getColor("tertiary", 60);
    font-weight: bold;
    padding: 0.6rem 1rem;
}

.content {
    background-color: colors.getColor("primary", 99);
    padding: 2rem;
    display: flex;
    min-height: 0;
    justify-content: center;
    align-items: stretch;
}
