@use "src/styles/colors.scss";

.cameraFooter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: fit-content;
    gap: 1rem;
    padding: 0.5rem;
    background-color: colors.getColor("primary", 30);
}
