@use "src/styles/colors.scss";
@use "src/styles/fonts.scss";

.informatioWrapper {
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: colors.getColor("primary", 80);
    font-size: fonts.getFontSize("x-small");

    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // border-style: solid;
    // border-color: black;
    // border-width: 1px;
    // border-radius: 10px;
    // padding: 10px;
}

.measurementLine {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
    margin-bottom: 0.5rem;
}
