@use "src/styles/colors.scss";
.kenos {
    //flex-grow: 1;
    width: 15%;
    min-width: 4rem;
    max-width: 8rem;
    height: 2.5rem;
    // display: flex;
    position: absolute;
    left: 30px;

    border-top-left-radius: 3rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 1rem;

    background-color: colors.getColor("tertiary", 60);

    -webkit-box-shadow: inset 5px 10px 10px 0px colors.getColor("tertiary", 40);
    -moz-box-shadow: inset 5px 10px 10px 0px colors.getColor("tertiary", 40);
    box-shadow: inset 5px 10px 10px 0px colors.getColor("tertiary", 40);
}
