@use "src/styles/styles.scss";

.messagesList {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: styles.$island-color;
    @include styles.code-text;
    border-radius: styles.$normal-border-radius;

    > *:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.button {
    @include styles.subtitle-text;
    width: 100%;
}
