@use "src/styles/fonts";

.coilInfoLabelWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: fonts.getFontWeight("bold");
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.value {
    text-align: right;
    width: 6rem;
    font-family: var(--font-mono);
    font-weight: fonts.getFontWeight("light");
}
