@use "@styles/styles";

.wrapper {
    display: grid;
    grid-template-rows: auto auto;

    gap: 1rem;
    background-color: styles.lightness(styles.$base-color, 35%);
    @include styles.code-text;
}

.header {
    padding: 0.5rem;
    background-color: styles.lightness(styles.$base-color, 30%);

    color: styles.$base-color;
    font-weight: bold;
}

.packetList {
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;

    > * {
        margin-bottom: 0.8rem;
    }
}
