@use "src/styles/colors.scss";
@use "src/styles/fonts.scss";

.informatioWrapper {
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: colors.getColor("primary", 80);
    font-size: fonts.getFontSize("x-small");
}

.measurementLine {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.title {
    flex-grow: 1;
    margin-bottom: 0.5rem;
}
