@use "src/styles/styles";
@use "src/styles/colors" as colors;

.iconWrapper {
    > * {
        width: 2rem;
    }
    cursor: pointer;
}

.link {
    color: colors.getThemeColor("text-secondary");
    transition: color 0.2s ease;
    
    &:hover {
        color: colors.getThemeColor("primary");
    }
}

.active {
    color: colors.getThemeColor("secondary");
}
