@use "@styles/styles.scss";

.count {
  background-color: #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  text-align: center;
  font-size: styles.$default-small-size;
  padding: 0 0.35rem;
}
