.stateOrdersWrapper {
    min-width: 20rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    overflow-y: auto;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 8px;
}
