#wrapper {
  width: 100%;
}

#wrapper td {
  padding: 0.6rem;
  vertical-align: middle;
}

// #wrapper {
//   width: 100%;
//   padding: 0.8rem;

//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// #name {
//   width: 45%;
// }
