@use "@styles/styles";
$header-color: #ffe4cc;

#wrapper {
  flex: 0 0 auto;
  width: 100%;
  border: 1px solid styles.$custom-orange;
  border-radius: styles.$default-border-radius;
  overflow: hidden;
}

.header {
  width: 100%;
  height: auto;
  padding: 0.5rem;

  display: grid;
  grid-template:
    "caret name button" auto
    / 1.5rem 1fr 5rem;
  align-items: center;
  background-color: $header-color;
  @include styles.default-text-2;

  .caret {
    grid-area: caret;
    justify-self: center;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    color: styles.$custom-orange;

    //TODO: arreglar caret, que ocupe el 100%
    .caret > * {
      width: 100%;
      height: 100%;
    }
  }
  .name {
    grid-area: name;
    color: styles.$custom-orange;
    font-weight: 500;
  }
}

.sendBtn {
  grid-area: button;
  height: 2rem;
  button {
    height: 100%;
  }
}

.body {
  flex: 1 1 0;
  width: 100%;
  @include styles.default-text-2;
  border-top: 1px solid styles.$custom-orange;
}
