@use "src/styles/colors" as colors;

.newReceiveTable {
    --main-color: #{colors.getThemeColor("primary")};
    --bg-color: #{colors.getColor("primary", 85)};
    --light-main-color: #{colors.getColor("primary", 65)};
    --light-bg-color: #{colors.getColor("primary", 95)};

    display: flex;
    flex-direction: column;
    min-height: 0;
    border-radius: 0.5rem; // Para que la tabla no se veo en las esquinas superiores debido al hueco que deja el border-radius del header
    flex: 1 1 0;
}

.boards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: 1rem;
}
