@use "src/styles/styles";
@use "src/styles/colors" as colors;

.section {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
    background-color: colors.getColor("primary", 80);

    color: colors.getThemeColor("primary");
    font-weight: bold;

    border-bottom: 1px solid colors.getThemeColor("primary");
    
    &:hover {
        background-color: colors.getColor("primary", 75);
    }
}
