@use "@styles/styles.scss";

.containerMessages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: styles.$island-color;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 0.5rem;
}
