@use "src/styles/fonts";

.violationViewWrapper {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.item {
    display: flex;
    gap: 0.5rem;
}

.title {
    font-weight: fonts.getFontWeight("bold");
    color: #505050;
}

.value {
    color: grey;
}
