@use "src/styles/styles.scss";
@use "src/styles/colors" as colors;

.dropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 2rem;
    border: dashed colors.getThemeColor("border");
    border-radius: styles.$large-border-radius;

    &Text {
        font-weight: styles.$normal-font-weight;
        font-size: styles.$normal-font-size;
        color: colors.getThemeColor("text-secondary");
        font-family: styles.$code-font;
    }

    &.Active {
        background-color: colors.getThemeColor("primary-surface");
    }

    &.Uploading {
        background-color: colors.getThemeColor("primary-surface");
    }

    &.Success {
        background-color: colors.getThemeColor("success");
        opacity: 0.15;
    }

    &.Error {
        background-color: colors.getThemeColor("error");
        opacity: 0.15;
    }
}

.selectLabel {
    cursor: pointer;
    font-weight: bold;
    color: colors.getThemeColor("primary");
}