@use "src/styles/colors.scss";

.paginationWrapper {
    width: fit-content;
    display: flex;

    border: 1px solid colors.getColor("tertiary", 80);
    border-radius: 0.4rem;
    overflow: hidden;
}

.paginationWrapper :not(:last-child) {
    border-right: 1px solid colors.getColor("tertiary", 80);
}
