@use "@styles/styles.scss";

.messagesList {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: styles.$background-color;
    @include styles.code-text;
    border-radius: styles.$normal-border-radius;

    > *:not(:last-child) {
        border-bottom: 1px solid black;
    }
}
