@use "@styles/styles.scss";

.messagesList {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: styles.$default-background;
  @include styles.code-text;

  > *:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
