@use "@styles/styles.scss";

.messagesList {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: styles.$default-background;
  @include styles.code-text;
  border-radius: styles.$default-border-radius;

  > *:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
