@use "src/styles/fonts";

.obccu {
    min-width: fit-content;
    width: 100%;
}

.batteryRow {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.centerPiece {
    position: relative;
    display: flex;
    align-items: center;
    padding: .4rem;
    gap: .5rem;
    background-color: hsla(207, 89%, 96%, 1);
}

.connectorIndicator {
    position: absolute;
    color: #3C7A8D;
    font-size: map-get($map: fonts.$font-sizes, $key: x-small);
}