@use "src/styles/colors.scss";
.tube {
    border-radius: 30px;
    background-color: colors.getColor("primary", 20);
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: inset 10px 10px 25px 0px colors.getColor("primary", 10);
    -moz-box-shadow: inset 10px 10px 25px 0px colors.getColor("primary", 10);
    box-shadow: inset 10px 10px 25px 0px colors.getColor("primary", 10);
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    color: colors.getColor("primary", 99);
}

.section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSection {
    border-right: 2px solid colors.getColor("primary", 30);
    height: 100%;
    flex-grow: 1;
}

.rightSection {
    border-left: 2px solid colors.getColor("primary", 30);
    height: 100%;
    flex-grow: 1;
}
