.secondPageWrapper {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    padding-top: 0;
    gap: 2rem;
    min-height: 0;
}

.ordersColumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}
