.container {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.boardsPage {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1rem;

    > * {
        min-width: fit-content;
    }
}
