.current_chart {
  width: 100%;
  height: 230px;
  min-height: 230px;
  max-height: 2300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}

.chart {
  width: 100% !important;
  height: 213px !important;
  min-height: 213px !important;
  max-height: 213px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data1_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}

.leds,
.break_state,
.pod {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  width: 100%;
}

.leds {
  background-color: #faebd7;
}

.break_state {
  background-color: red;
  color: white;
}

.pod {
  background-color: #d3e5ff;
}

.main {
  display: grid;
  grid-template-columns: 404px 937px 404px;
  gap: 1rem;
  width: 1808px;
  min-width: 1808px;
  max-width: 1808px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 404px;
  min-width: 404px;
  max-width: 404px;
}

.column_center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 937px;
  min-width: 937px;
  max-width: 937px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 55%;
}

.messages {
  flex: 1;
  overflow: auto;
}

.orders {
  flex: 1;
  overflow: auto;
}

.emergency_wrapper {
  display: flex;
  justify-content: center;
}