.levitationSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
}

.rotations {
    grid-area: rotations;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.airgaps {
    grid-area: airgaps;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.batteries {
    grid-area: batteries;
}

.coils {
    grid-area: coils;
}
