#wrapper {
  width: 100%;
  height: 100%;
  background-color: #496c8c;

  display: grid;
  grid-template-rows: auto 1fr;
}

#wrapper > * {
  min-height: 0;
  min-width: 0;
}

#body {
  padding: 1.2rem;
}
