@use "src/styles/styles";
@use "src/styles/colors" as colors;

.headerWrapper {
    flex: 0 0 0;
    padding: 0.5rem;
    display: grid;
    grid-template:
        "caret name target button" auto
        / auto 1fr auto 5rem;
    align-items: center;
    gap: 0.5rem;
    background-color: #ffe4cc;
    cursor: pointer;
}

:global([data-theme="dark"]) .headerWrapper {
    background-color: rgba(235, 137, 33, 0.2);
}

.caret {
    grid-area: caret;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caret > * {
    color: styles.$orange;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.name {
    grid-area: name;
    color: styles.$orange;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

:global([data-theme="dark"]) .name,
:global([data-theme="dark"]) .caret > * {
    color: #f5b575;
}

.target {
    grid-area: target;
    color: colors.getThemeColor("error");
    font-size: 0.8rem;
    margin: 0 0.5rem;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.07s linear;
}

.targetVisible {
    opacity: 1;
}

.headerWrapper:hover {
    .target:not(.targetVisible) {
        opacity: 0.5;
    }
}

.sendBtn {
    grid-area: button;
    height: 100%;
    button {
        height: 100%;
    }
}
