.backgroundArc {
    stroke: #c4d7e5a1;
}

.radialShadowArc {
    background: radial-gradient(hsl(0, 0%, 0%) 40%, rgb(0 0 0 / 0%) 50%);
}

.rainbowArc {
    background: conic-gradient(
        from 220deg,
        #91e473,
        40deg,
        #9BF37C,
        80deg,
        #F4E55E,
        120deg,
        #F4E55E,
        220deg,
        #F3785C,
        310deg,
        #F3785C
    );
}
